@use '../../assets/scss/colors' as colors;

.odometer-container {
    margin: 3rem;
    background-color: colors.$primary-color;
    background-image:   
        linear-gradient(0deg, transparent 1px, colors.$background-color 1px), 
        linear-gradient(90deg, transparent 1px, colors.$background-color 1px);
    background-size: 15px 15px; /* Larger squares */
    background-position: top left;
}


.odometer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    letter-spacing: 2px;
    background: #000;
    color: #fff;
    width: 120px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  
  .odometer span {
    display: inline-block;
    animation: roll 1s infinite;
  }
  
  @keyframes roll {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
  }
  