<section id="about">
    <div appFloatInOnScroll class="about-container">
        <div class="light-border">
            <div class="main-container text-color-green">
                <div class="top-container">
                    <div appFloatInOnScroll class="column left">
                        <span class="default-font">&lt;span&gt;</span>
                        <span class="text-color-grey default-font" 
                                typingAnimation 
                                [typeSpeed]="200" 
                                [startDelay]="2000" 
                                [condition]="start"
                                [text]='"Hi, This is Szilard"'>                         
                        </span>
                        <span class="default-font">&lt;/span&gt;</span>
                        <div class="intoduction text-color-grey default-font" >Senior <span class="gradient-text">&#123;  Full Stack &#125;</span>  Software Engineer</div>
                        <div class="introduction-summary default-font text-color-grey"><span>&lt;p&gt;</span>I leverage modern technologies like <span>.NET</span>, <span>Angular</span> and <span>DevOps</span> practices to build web solutions that are reliable, scalable, and forward-thinking.<span>&lt;/p&gt;</span></div>
                        
                        <a href="../../assets/Ferencz_Szilard_CV.pdf" download="Szilard_Ferencz" class="btn text-color-green default-font resume">
                            <i class="fa-solid fa-download"></i>
                            [ Download My CV ]
                        </a>
                    </div>
                    <div appFloatInOnScroll class="column right">
                        <img src="../../assets/about.png" alt="about" />
                    </div>
                </div>
                <div class="bottom-container">
                    <div class="icon-carousel">
                        <div class="carousel-track">
                            <i class="fas fa-code"></i>
                            <i class="fa-brands fa-angular"></i>
                            <i class="fa-brands fa-js"></i>
                            <i class="fa-brands fa-git"></i>
                            <i class="fa-brands fa-html5"></i>
                            <i class="fa-brands fa-css3-alt"></i>
                            <i class="fas fa-code"></i>
                            <i class="fa-brands fa-angular"></i>
                            <i class="fa-brands fa-js"></i>
                            <i class="fa-brands fa-git"></i>
                            <i class="fa-brands fa-html5"></i>
                            <i class="fa-brands fa-css3-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>