@use 'colors' as colors;

.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    border-radius: 8px;
    background-color: colors.$secondary-color;
    width: 100%;
    padding: 3rem;
    align-items: center;
}

.bottom-container {
    display: block;
    width: 50%;
}

.about-container {
    margin: 3rem;
    transform: translateY(120px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.about-container.float-in {
    opacity: 1;
    transform: translateY(0);
}

.top-container {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1 1 0; /* grow: 1, shrink: 1, basis: 0 = shrink/grow proportionally */
    flex-direction: column;
    min-width: 0; /* prevent overflow */
}

.left {
    flex-direction: column;
    transform: translateY(120px);
    transition: opacity 1s ease, transform 1s ease;
}

.column.left.float-in {
    opacity: 1;
    transform: translateY(0);
}

.column.right.float-in {
    opacity: 1;
    transform: translateY(0);
}

.column.right img {
    animation: pulse 5s ease infinite;
}

.left a {
    margin-top: 2rem;
}

.right {
    display: flex;
    align-items: flex-end;
    transform: translateY(120px);
    transition: opacity 1s ease, transform 1s ease;
}

.right img {
    width: 25rem;
    height: auto;
    max-width: 100%;
}

.intoduction {
    margin-top: 2rem;
    font-size: 2rem;
}

.introduction-summary {
    margin-top: 2rem;
}

.introduction-summary span{
    margin-top: 2rem;
    color: colors.$green-color;
}

.gradient-text {
    display: inline-block;
    color: #00A0CB;
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,1));
    mask-image: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,1));
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

.icon-carousel {
    overflow: hidden;
    width: 100%;
    margin-top: 2rem;
  }
  
.carousel-track {
    display: flex;
    gap: 2rem;
    animation: scroll 8s linear infinite;
    white-space: nowrap;
}

.carousel-track i {
    font-size: 2rem;
    color: #00a0cb;
}

.resume {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.resume:hover {
    transform: scale(1.1); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

/* Animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes pulse {
    0% { transform: scale(100%); }
    33% { transform: scale(110%); } 
    66% { transform: scale(110%); }
    100% { transform: scale(100%); } 
}
  

@media(max-width: 1020px) {
    .top-container {
        flex-direction: column;
    }

    .right {
        align-items: center;
    }
}

@media (max-width: 589px) {
    .about-container {
        margin: 1rem;
    }
}