$primary-color: #574bc7;
$secondary-color: #32323b;
$background-color: #272730;
$navbar-color: #202027;
$text-color: #D1D1D6;
$green-color: #2e998a;

$default-font: "Unbounded", sans-serif;
$title-font: "Unbounded", sans-serif;

