$primary-color: #2c45b3;
$secondary-color: #32323b;
$background-color: #272730;
$text-color: #D1D1D6;
$green-color: #2e998a;

$default-font: "Cal Sans";
$title-font: "Unbounded", sans-serif;

