@use '../../assets/scss/colors' as colors;


// Containers
.contact-container {
    margin: 1rem;
}

.message-container {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    width: 50%;
    height: 100%;
}

.contact-info-container {
    margin: 3rem;
    width: 50%
}

// Forms
h3 {
    font-size: 3rem;
    text-align: center;
}

.form-column {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

input {
    padding: 10px 30px;     
    font-size: 20px;       
    border: 3px solid colors.$primary-color; 
    border-radius: 20px;   
    outline: none;       
    width: 100%;          
    box-sizing: border-box; 
    transition: border-color 0.3s;
    margin: 1rem;
}

.submit-button {
    padding: 10px 30px;     
    background-color: colors.$primary-color;
    font-size: 20px;       
    border: 3px solid colors.$primary-color; 
    border-radius: 20px;   
    outline: none;       
    max-width: 100%;          
    transition: border-color 0.3s;
    margin: 1rem;
    align-items: center;
}

.submit-button:active {
    background-color: colors.$secondary-color;
}

textarea {
    padding: 1rem;  
    font-size: 20px;       
    border: 3px solid colors.$primary-color; 
    border-radius: 20px;   
    outline: none;       
    width: 100%;          
    box-sizing: border-box; 
    transition: border-color 0.3s;
    margin: 1rem;
}

.message-form {
    height: 100%;
}
  
input:focus {
    border-color: colors.$green-color; 
}

// Responsiveness
@media (max-width: 1200px) {
    .main-container {
        flex-direction: column;
    }

    .contact-info-container {
        margin: 3rem;
        text-align: center;
        width: 50%
    }

    .message-container {
        width: 100%;
    }
}
