<section id="contact">
    <div class="contact-container">
        <div class="light-border">
            <div class="main-container">
                <div class="message-container">
                    <h3 class="default-font text-color-green">Let's connect!</h3>
                    <div class="form-column">
                        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                                <input formControlName="name" placeholder="Name" name="name">
                                <input formControlName="email" placeholder="Email" name="email">
                            </div>
                            <div class="form-row">
                                <input formControlName="phone" placeholder="Phone" name="phone">
                                <input formControlName="subject" placeholder="Subject" name="subject">
                            </div>
                            <div class="form-row">
                                <textarea formControlName="message" placeholder="This is your message!" class="message-form" name="message"></textarea>
                            </div>
                            <div class="form-row">
                                <button class="submit-button bounce-button" type="submit" [disabled]="contactForm.invalid">Submit</button>
                            </div>
                        </form>
                    </div> 
                </div>
                <div class="contact-info-container">
                    <div class="mb-30 mt-5">
                        <div class="contact-list mb-30">
                            <p class="letter-space fs-4 fw-semibold text-200 mb-5 text-color-grey default-font">I'm always excited to take on new projects and collaborate with innovative minds.</p>
                        </div>
                        <div class="mb-3">
                            <span class="text-400 fw-semibold fs-5 text-color-grey default-font">Phone Number</span>
                            <p class="mb-0 text-color-grey default-font">+1-234-567-8901</p>
                        </div>
                        <div class="mb-3">
                            <span class="text-400 fw-semibold fs-5 text-color-grey default-font">Email</span>
                            <p class="mb-0 text-color-grey default-font">szilard.fer&#64;gmail.com</p>
                        </div>
                        <div class="mb-3">
                            <span class="text-400 fw-semibold fs-5 text-color-grey default-font">Phone Number</span>
                            <p class="mb-0 text-color-grey default-font">+1-234-567-8901</p>
                        </div>
                        <div class="mb-3">
                            <span class="text-400 fw-semibold fs-5 text-color-grey default-font">Address</span>
                            <p class="mb-0 text-color-grey default-font">London, UK</p>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    </div>
</section>