<div appFloatInOnScroll class="skills-container">
  <div class="light-border">
      <div class="main-container">
        <div class="skills">
          <p>C# .NET</p>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <mat-card appFloatInOnScroll class="slide default-font text-color-grey card">
                <img src="../../assets/Angular.png">
              </mat-card>
            </ng-template>  
            <ng-template carouselSlide>
              <mat-card appFloatInOnScroll class="slide default-font text-color-grey card">
                <img src="../../assets/NET core.png">
              </mat-card>
            </ng-template>  
            <ng-template carouselSlide>
              <mat-card appFloatInOnScroll class="slide default-font text-color-grey card">
                <img src="../../assets/Azure.png">
              </mat-card>
            </ng-template>
            <ng-template carouselSlide>
              <mat-card appFloatInOnScroll class="slide default-font text-color-grey card">
                <img src="../../assets/Docker.png">
              </mat-card>
            </ng-template>  
            <ng-template carouselSlide>
              <mat-card appFloatInOnScroll class="slide default-font text-color-grey card">
                <img src="../../assets/Kubernetes.png">
              </mat-card>
            </ng-template>  
            <ng-template carouselSlide>
              <mat-card appFloatInOnScroll class="slide default-font text-color-grey card">
                <img src="../../assets/Oracle.png">
              </mat-card>
            </ng-template> 
            <ng-template carouselSlide>
              <mat-card appFloatInOnScroll class="slide default-font text-color-grey card">
                <img src="../../assets/Microsoft SQL Server.png">
              </mat-card>
            </ng-template>  
            <ng-template carouselSlide>
              <mat-card appFloatInOnScroll class="slide default-font text-color-grey card">
                <img src="../../assets/RabbitMQ.png">
              </mat-card>
            </ng-template>
        </owl-carousel-o>
      </div>
    </div>
</div>