@use 'colors' as colors;

.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    border-radius: 8px;
    background-color: colors.$secondary-color;
    width: 100%;
    padding: 3rem;
    align-items: center;
}

.skills-container {
    margin: 3rem;
}

owl-carousel-o {
    display: flex;
    flex-direction: row;
}
