<section id="portfolio">
    <div class="component-container">
        <div class="light-border">
            <div class="main-container">
                <h2>Portfolio Project</h2>
                <mat-card appFloatInOnScroll class="default-font text-color-grey card portfolio-card">     
                    <mat-card-header>
                        <mat-card-title class="gradient-text position">Finance Application</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <button class="custom-button bounce-button" (click)="openPortfolioModal()">View Project</button>
                    </mat-card-content>  
                    <mat-card-content>
                        <p>
                            A modern finance app built with .NET (backend) and Angular (frontend), deployed via GitHub Actions to Azure Container Apps.
                        </p>
                        <p>Key Features:</p>
                        <ul>
                            <li>User registration with email confirmation, password reset and token-based authentication using HTTP Only cookies</li>
                            <li>CRUD operations for transactions and transaction groups</li>
                            <li>CSV import for automatic transaction creation</li>
                            <li>LLM integration for smart transaction categorization and queries</li>
                            <li>Transaction filtering, sorting, and currency switching</li>
                            <li>Weekly background job to fetch exchange rates from external APIs</li>
                        </ul>
                    </mat-card-content>  
                    <mat-card-content>
                        <a href="https://github.com/Sziszka90/FinanceApp.Frontend?tab=readme-ov-file#readme" class="readme-link" target="_blank">
                            <i class="fa-solid fa-book"></i> Frontend README
                        </a>                      
                    </mat-card-content>
                    <mat-card-content>
                        <a href="https://github.com/Sziszka90/FinanceApp.Backend?tab=readme-ov-file#readme" class="readme-link" target="_blank">
                            <i class="fa-solid fa-book"></i> Backend README
                        </a>                      
                    </mat-card-content>
                    <mat-card-content>
                        <a href="https://github.com/Sziszka90/FinanceApp.LLMProcessor?tab=readme-ov-file#readme" class="readme-link" target="_blank">
                            <i class="fa-solid fa-book"></i> LLMProcessor README
                        </a>                      
                    </mat-card-content>
                    <mat-card-content>
                        <p>Azure Architecture</p>
                        <a href="assets/diagram.png" target="_blank">
                            <img src="assets/diagram.png" alt="Azure Architecture Diagram" />
                        </a>
                    </mat-card-content>
                    <mat-card-content>
                        <p>User creation with email confirmation</p>
                        <video width="100%" controls>
                            <source src="assets/demo1.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </mat-card-content>
                    <mat-card-content>
                        <p>Transaction import with smart async transaction group matching</p>
                        <video width="100%" controls>
                            <source src="assets/demo2.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </mat-card-content>
                    <mat-card-content>
                        <p>Filtering and other functionalities</p>
                        <video width="100%" controls>
                            <source src="assets/demo3.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </mat-card-content>
                    <mat-card-content>
                        <p>Smart AI driven chat</p>
                        <video width="100%" controls>
                            <source src="assets/demo4.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </mat-card-content>
                    <mat-card-content>
                        <button class="custom-button bounce-button" (click)="openPortfolioModal()">View Project</button>
                    </mat-card-content>                   
                </mat-card>
            </div>
        </div>
    </div>
</section>
