<div class="offcanvas-logo pb-3">
    <h3 class="mb-0 letter-space default-font text-color-green fs-2">Get in touch</h3>
</div>
<div class="offcanvas-side-info mb-30 mt-5">
    <div class="contact-list mb-30">
        <p class="letter-space mb-5 text-color-grey default-font">I’m always glad to connect—whether you’re a recruiter, fellow developer, or hiring manager, feel free to reach out!</p>
    </div>
    <div class="mb-3">
        <span class="text-color-grey default-font">Phone Number</span>
        <p class="mb-0 text-color-grey default-font">+1-234-567-8901</p>
    </div>
    <div class="mb-3">
        <span class="text-color-grey default-font">Email</span>
        <p class="mb-0 text-color-grey default-font">szilard.fer&#64;gmail.com</p>
    </div>
    <div class="mb-3">
        <span class="text-color-grey default-font">Address</span>
        <p class="mb-0 text-color-grey default-font">Dublin, Ireland</p>
    </div>
</div>      