@use '../../assets/scss/base/variables' as variables;

// Containers
.component-container {
    flex-wrap: nowrap;
}

// Logo
.main-logo {
    display: flex;
}

.main-logo img {
    width: 3rem;
    height: 3rem;
}

.logo-text {
    font-size: 1rem;
    padding: 1rem;
}

// NavBar
.navbar {
    margin-left: auto;

}

.navbar-toggle {
    margin: 1rem;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 1rem;
    padding: 0;
    margin-left: auto;
    font-size: 1.3rem;
    font-weight: bold;
}
  
.navbar-menu li a {
    color: variables.$text-color;
}
  
.navbar-menu li a:hover {
    color: variables.$primary-color;
    transition: background-color 0.5s ease, color 0.5s ease; /* adjust duration */
}

.navbar-toggle {
    display: none;
}

.title {
    margin-left: 1rem;
}

.title a {
    display: flex;
    align-items: center;
}

.small-logo-text {
    display: none;
}

span {
    font-size: 2rem;
}

.large-logo-text {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.animated-text span {
    display: inline-block;
    transition: transform 0.3s ease;
    cursor: default;
}
  
.animated-text span:hover {
transform: translateY(-5px) scale(1.1);
color: #00a0cb;
}

// OffCanvas
.offcanvas {
    background-color: variables.$secondary-color;
    overflow: auto;
}

.offcanvas-toggle {
    margin: 1rem;
}

.offCanvas__side-info, .offCanvas__logo {
    color:white;
}

.offCanvas__logo {
    border-bottom: 2px solid variables.$primary-color;
}

.offcanvas-menu a, .offcanvas-menu li, .offcanvas-menu ul{
    list-style: none;
    color: variables.$text-color;
    font-size: 2rem;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.menu-close i {
    font-size: 2rem;
}

.offcanvas-menu {
    border-top: 1px solid variables.$primary-color;
    border-bottom: 1px solid variables.$primary-color;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}

.offcanvas-menu a:hover, li:hover{
    color: variables.$primary-color;
    transition: background-color 0.5s ease, color 0.5s ease; /* adjust duration */
}

// Responsiveness
@media (max-width: 589px) {
    .nav-container {
        margin: 1rem;
    }

    .offcanvas-toggle {
        display: none;
    }
    
    .navbar-menu {
        display: none;
    }
}

@media(max-width: 1100px) {
    .navbar-menu {
        display: none,
    }

    .navbar-toggle {
        display: block;
    }

    .small-logo-text {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }

    .small-logo-text span{
        font-size: 1.5rem;
    }

    .large-logo-text {
        display: none;
    }
}