<div class="nav-container box-border">
    <button class="offcanvas-toggle text-center" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasInfo">
            <i class="fa-solid fa-phone text-color-grey"></i>
    </button>
    <div class="title">
        <a class="navbar-brand main-logo" href="#">
            <img src="../../assets/logo.png" alt="logo" />
            <div class="large-logo-text">
                <span class="text-color-grey default-font animated-text">
                    <span>S</span>
                    <span>z</span>
                    <span>i</span>
                    <span>l</span>
                    <span>a</span>
                    <span>r</span>
                    <span>d</span>
                    <span>&nbsp;|&nbsp;</span>
                    <span>S</span>
                    <span>o</span>
                    <span>f</span>
                    <span>t</span>
                    <span>w</span>
                    <span>a</span>
                    <span>r</span>
                    <span>e</span>
                    <span>&nbsp;</span>
                    <span>E</span>
                    <span>n</span>
                    <span>g</span>
                    <span>i</span>
                    <span>n</span>
                    <span>e</span>
                    <span>e</span>
                    <span>r</span>
                </span>
            </div>
            <div class="small-logo-text">
                <span class="text-color-grey default-font">Szilard</span>
                <span class="text-color-grey default-font">Software Engineer</span>
            </div>
        </a>
    </div>

    <nav class="navbar">
        <button class="navbar-toggle" 
                data-bs-toggle="offcanvas" 
                data-bs-target="#offcanvasMenu">
            <i class="fa-duotone fa-solid fa-bars text-color-grey"></i>
        </button>

        <div id="navbarNav">   
            <ul class="navbar-menu default-font">
              <li><a href="#about">About</a></li>
              <li><a href="#resume">Resume</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu">
    <div class="offCanvas__body m-3">
        <div class="offCanvas__close-icon menu-close text-end">
            <button data-bs-dismiss="offcanvas">
                <i class="fa-solid fa-xmark text-color-blue"></i>
            </button>
        </div>
        <div class="title">
            <a class="navbar-brand main-logo" href="#">
                <img src="../../assets/logo.png" alt="logo" />
            </a>
        </div>
        <div id="navbarNav">   
            <ul class="offcanvas-menu default-font">
            <li><a href="#about">About</a></li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasInfo">
    <div class="offCanvas__body m-3">
        <div class="offCanvas__close-icon menu-close text-end">
            <button data-bs-dismiss="offcanvas">
                <i class="fa-solid fa-xmark text-color-blue"></i>
            </button>
        </div>
        <div class="offCanvas__logo pb-3 mt-5">
            <h3 class="mb-0 fw-semibold letter-space default-font fs-2">Get in touch</h3>
        </div>
        <div class="offCanvas__side-info mb-30 mt-5">
            <div class="contact-list mb-30">
                <p class="letter-space fs-4 fw-semibold text-200 mb-5 text-color-grey default-font">I'm always excited to take on new projects and collaborate with innovative minds.</p>
            </div>
            <div class="mb-3">
                <span class="text-400 fw-semibold fs-5 text-color-grey default-font">Phone Number</span>
                <p class="mb-0 text-color-grey default-font">+1-234-567-8901</p>
            </div>
            <div class="mb-3">
                <span class="text-400 fw-semibold fs-5 text-color-grey default-font">Email</span>
                <p class="mb-0 text-color-grey default-font">szilard.fer&#64;gmail.com</p>
            </div>
            <div class="mb-3">
                <span class="text-400 fw-semibold fs-5 text-color-grey default-font">Phone Number</span>
                <p class="mb-0 text-color-grey default-font">+1-234-567-8901</p>
            </div>
            <div class="mb-3">
                <span class="text-400 fw-semibold fs-5 text-color-grey default-font">Address</span>
                <p class="mb-0 text-color-grey default-font">London, UK</p>
            </div>
        </div>      
        </div>
</div>