<div class="areas-container">
  <div class="light-border">
    <div class="main-container">
      <div class="grid-container">
        <mat-card appFloatInOnScroll class="default-font text-color-grey card">
          <mat-card-header>
            <mat-card-title><i class="fa-solid fa-desktop"></i></mat-card-title>
            <mat-card-title>Web & App Development</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Crafting visually appealing and user-friendly interfaces using HTML, CSS, JavaScript, and modern frameworks like Angular.</p>
          </mat-card-content>
        </mat-card>
        <mat-card appFloatInOnScroll class="default-font text-color-grey card">
          <mat-card-header>
            <mat-card-title><i class="fa-solid fa-cloud"></i></mat-card-title>
            <mat-card-title>API Development</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>API Development
              Creating and integrating RESTful APIs to enable smooth communication between front-end and back-end systems.</p>
          </mat-card-content>
        </mat-card>
        <mat-card appFloatInOnScroll class="default-font text-color-grey card">
          <mat-card-header>
            <mat-card-title><i class="fa-solid fa-database"></i></mat-card-title>
            <mat-card-title>Database Management</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Designing and managing databases with SQL and NoSQL technologies such as Oracle, MSSQL, and MongoDB.</p>
          </mat-card-content>
        </mat-card>
        <mat-card appFloatInOnScroll class="default-font text-color-grey card">
          <mat-card-header>
            <mat-card-title><i class="fa-solid fa-server"></i></mat-card-title>
            <mat-card-title>DevOps</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Maintaining and developing build and release pipelines for services. Managing development servers.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div> 
  
