@use 'base/variables' as variables;

// Cards
mat-card-header {
    justify-content: center;
    text-align: center;
}

mat-card-title {
    font-family: variables.$default-font;
    margin: 1rem;
}

.card {
    border: 1px solid variables.$background-color;
    border-radius: 0;
    background-color: variables.$secondary-color;
    width: 100%;
    height: 100%;
    transform: translateY(60px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.card.float-in {
    opacity: 1;
    transform: translateY(0);
}

.card:hover {
    mat-card-title i {
        color: variables.$green-color;
    }

    transform: translateY(-5px); 
    transition: transform 0.2s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); 
}


// Responsiveness
@media(max-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);   
        gap: 1rem;                       
        width: 95%;                         
        margin: 2rem;                        
    }
}

@media (max-width: 589px) {
    .areas-container {
        margin: 1rem;
    }
}
