<section id=areas></section>
<div class="component-container">
  <div class="light-border">
    <div class="main-container">
      <div class="grid-container">
        <mat-card appFloatInOnScroll class="default-font text-color-grey card">
          <mat-card-header>
            <mat-card-title><i class="fa-solid fa-desktop"></i></mat-card-title>
            <mat-card-title>Web & App Development</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Developing responsive and user-friendly interfaces using HTML, CSS, JavaScript, and modern frameworks like Angular, with a strong focus on performance, accessibility, and clean design implementation.</p>
          </mat-card-content>
        </mat-card>
        <mat-card appFloatInOnScroll class="default-font text-color-grey card">
          <mat-card-header>
            <mat-card-title><i class="fa-solid fa-cloud"></i></mat-card-title>
            <mat-card-title>API Development</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Developing and integrating RESTful APIs using .NET to ensure efficient and reliable communication between front-end and back-end systems.</p>
          </mat-card-content>
        </mat-card>
        <mat-card appFloatInOnScroll class="default-font text-color-grey card">
          <mat-card-header>
            <mat-card-title><i class="fa-solid fa-database"></i></mat-card-title>
            <mat-card-title>Database Management</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Designing and managing SQL and NoSQL databases using technologies like Oracle and MSSQL, with a focus on efficient data access, maintainability through Entity Framework, and performance-optimized data modeling.</p>
          </mat-card-content>
        </mat-card>
        <mat-card appFloatInOnScroll class="default-font text-color-grey card">
          <mat-card-header>
            <mat-card-title><i class="fa-solid fa-server"></i></mat-card-title>
            <mat-card-title>DevOps</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Developing and maintaining build and release pipelines in Azure DevOps & GitHub, including Helm Chart configurations and deployment workflows, alongside managing and maintaining development server environments.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div> 
  
