@use 'colors' as colors;

.areas-container {
    margin: 3rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    border-radius: 8px;
    background-color: colors.$secondary-color;
    width: 100%;
    align-items: center;
}

.areas-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.areas-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
}

mat-card-header {
    justify-content: center;
    text-align: center;
}

mat-card-title {
    margin: 1rem;
}

.card {
    border: 1px solid colors.$primary-color;
    background-color: colors.$secondary-color;
    width: 350px;
    height: 300px;
    transform: translateY(60px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.card.float-in {
    opacity: 1;
    transform: translateY(0);
}

.card:hover {
    mat-card-title {
        color: colors.$green-color;
    }
    transform: translateY(-10px); /* Raises the card slightly */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); /* Stronger shadow */
}

@media(max-width: 1000px) {
    .areas-row {
        flex-direction: column;
    }

    mat-card {
        width: 500px;
    }
}
